*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(190, 247, 255);
}

h1{
    padding: 20px;
    text-align: center;
}

#spaceButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    background-color: rgb(160, 126, 247);
    height: auto;
    width: auto;
    border-radius: 10px;
    border-color: black;
    box-shadow: 1px 1px 2px 0px;
}

button{
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border: solid;
    padding-left: 5px;
    background-color: rgb(159, 199, 248);
    cursor: pointer;
    border-radius: 10px;
    border-color: black;
    margin-bottom: 10px;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(205, 208, 213);
}

#spaceButton #parrafo{
    font-size: 25px;
    background-color: aliceblue;
    width: 60%;
    height: auto;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}