*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display:flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
    width: 100vw;
    height: 100vh;
    background-color: rgb(190, 247, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

#caja {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(160, 126, 247);
    width: 50vw;
    height: 300px;
    border-radius: 10px;
    border-color: black;
    box-shadow: 1px 1px 2px 0px;
    gap: 10px;
    padding: 20px;
}

.spacePassword{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    width:45vw;
    height: 20vw;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0px;
}

.spaceButton{
    display:flex;
    align-items: center;
    justify-content: center;
    width:45vw;
    height: 20vw;
}

button{
    padding:10px;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    border-style: none;   
    background-color: rgb(159, 199, 248);
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px;
    position: relative;
}

button:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(115, 117, 120);
}

span{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.hide{
    display: none;
}