*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

h2{
    font-weight:bold;
    font-family:sans-serif;
    font-size:70px;
    text-align: center;
}

button{
    width:180px;
    height:50px;
    outline:none;
    border:none;
    background:#f34fbc;
    color:white;
    font-weight:bold;
    font-family:sans-serif;
    cursor:pointer;
    border-radius:50px;
    margin-top:100px;
}
